<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.retrofootballfuture">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".sim.ui.GameDayUI" />
<activity android:name=".sim.ui.PlayerProfileUI" />
<activity android:name=".sim.ui.RecruitingPitchUI" />
<activity android:name=".sim.ui.MatchSimulatorUI" />
<activity android:name=".sim.ui.RosterViewerUI" />
<activity android:name=".sim.ui.CareerSchedulerUI" />


        <!-- We'll add your other UI classes below -->

    </application>
</manifest>
